<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ilab">
  <xacro:include filename="$(find rail_collada_models)/urdf/ikea_stool.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/lab.urdf.xacro" />
  
  <xacro:property name="PARENT" value="map" />
  <xacro:property name="FRAME" value="ilab" />
  
  <!-- fixed frame -->
  <link name="${PARENT}" />
  <link name="${FRAME}" />

  <joint name="${PARENT}_${FRAME}_joint" type="fixed">
    <parent link="${PARENT}" />
    <child link="${FRAME}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <xacro:lab parent="${FRAME}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:lab>

  <xacro:ikea_stool parent="${FRAME}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ikea_stool>
</robot>
