<!-- 
NOT USED
these should only be kept until russell and dave approve my macro use for the chairs
-->

<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lazy_chair_2" params="parent *origin">
    <joint name="${parent}_lazy_chair_2_joint" type="fixed">
      <origin xyz="2.62 1.1 0" rpy="0 0 0" />
      <parent link="${parent}" />
      <child link="lazy_chair_2_link" />
    </joint>
    <link name="lazy_chair_2_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/lazy_chair.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${parent}_lazy_chair_2_nav_goal" type="fixed">
      <origin xyz="0 .84 0" rpy="0 0 0"/>
      <parent link="lazy_chair_2_link"/>
      <child link="lazy_chair_2_nav_goal_link"/>
    </joint>

    <xacro:nav_goal prefix="lazy_chair_1"/>
  </xacro:macro>
</root>
