<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="left_shelves" params="parent *origin">
    <joint name="${parent}_left_shelves_joint" type="fixed">
      <origin xyz="0.425 0.838 0" rpy="0 0 ${-M_PI/2}" />
      <parent link="${parent}" />
      <child link="left_shelves_link" />
    </joint>
    <link name="left_shelves_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/left_shelves.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${parent}_left_shelves_nav_goal_joint" type="fixed">
      <origin xyz="0 0.52 0" rpy="0 0 ${M_PI}"/>
      <parent link="left_shelves_link"/>
      <child link="left_shelves_nav_goal_link"/>
    </joint>

    <xacro:nav_goal prefix="left_shelves" />

  </xacro:macro>
</root>
