<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="tv" params="parent *origin">
    <joint name="${parent}_tv_joint" type="fixed">
      <origin xyz="0.89 2.1 0" rpy="0 0 ${-M_PI/2}" />
      <parent link="${parent}" />
      <child link="tv_link" />
    </joint>
    <link name="tv_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/tv.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${parent}_tv_surface_joint" type="fixed">
      <origin xyz="0 0 0.605" rpy="0 0 0"/>
      <parent link="tv_link"/>
      <child link="tv_surface_link"/>
    </joint>
      <link name="tv_surface_link">
      <visual>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
    </link>

    <joint name="${parent}_tv_nav_goal_joint" type="fixed">
      <origin xyz="0 0.7 0" rpy="0 0 0"/>
      <parent link="tv_link"/>
      <child link="tv_nav_goal_link"/>
    </joint>

    <xacro:nav_goal prefix="tv"/>
  </xacro:macro>
</root>
